@(anuncios: List[Anuncio])

<html lang="">
    <head>
        <title>Stilo Musical</title>
        <meta charset="UTF-8">
        <meta name=description content="">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
          
          <style type="text/css">
	<!--h1 {font-size: 60px;}-->
	<!--p {font-size: 40px;}-->
</style>
    </head>
    <body>
    
    
    
     <div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top">
      
        <div class="navbar-header">
	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </a>
        
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="@routes.Application.index()">Home</a></li>
            
            
               <ul class="nav navbar-nav">
                <li>
                    <a href="@routes.Application.criar()" method="post">Criar Anúncio</a>
                </li>
                

            </ul>
           
          </ul>
        </div>

    </div>
  </div><!-- /container -->
</div><!-- /navbar wrapper -->

<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://webradiotornado.files.wordpress.com/2011/09/1305567196-11-dj-music-wallpaper.jpg" style="width:100%" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
      
          <h1> <strong>Encontros de Estilos Musicais </strong></h1>
          		<p>Crie seu Anúncio</p>
          
        </div>
      </div>
    </div>
    
    
    
     <div class="content">
    	<div class="col-sm-7">
        <h2>Criar Anúncio</h2>
        <form action="@routes.Application.newAnuncio()" method="post">
        <label for="nome"> Nome:</label>
        	<input type="text" title="Aqui" name="nome" id="inputNome" class="form-control"  placeholder="Nome do Anunciante" required="required">
        	
        <label for="cidade">Cidade:</label>
        	<input type="text" title="Aqui" name="cidade" id="inputCidade" class="form-control"  placeholder="Cidade do Anunciante" required="required">
        
        <label for="bairro">Bairro:</label>
        	<input type="text" title="Aqui" name="bairro" id="inputBairro" class="form-control"  placeholder="Bairro do Anunciante" required="required">
        	
        <label for="instrumentos">Instrumentos que você toca:</label>
       		<input type="text" title="Aqui" name="instrumentos" id="inputInstrumentos"  placeholder="Instrumento do Anunciante" class="form-control" required="required">
       
        <label for="estilos">Estilo que você toca:</label>
       		<input type="text" title="Aqui" name="estilo" id="inputEstilo" placeholder="Seu Estilo Musical" class="form-control">
       
       
        <label for="email">Email:</label>
        	<input type="email" title="Aqui" name="email" id="inputEmail" class="form-control" placeholder="Email do Usuário" required="required">
        	
        <label for="facebook">Facebook:</label>
        	<input type="text" title="Aqui" name="Facebook" id="inputFacebook" class="form-control"  placeholder="Facebook do Anunciante" required="required">
        	
        <label for="objetivo">Objetivo:</label>
        	<input type="text" title="Aqui" name="objetivo" id="inputObjetivo" class="form-control"  placeholder="Objetivo do Anunciante" required="required">
         <fieldset id="banda"> <legend>O que Procura?</legend>

                        <input type="radio" title="Aqui" name="tSexo" id="cMasc"/> <label for="cMasc"><strong>Banda</strong></label><br/>
                        <input type="radio" title="Aqui" name="tSexo" id="cFem" /> <label for="cFem"> <strong>Tocar Ocasionalmente</strong></label>


                    </fieldset>
                    
                    
        
         
           <button type="submit" class="btn btn-success btn-lg">Publicar Anúncio</button>
           	
        <!-- jQuery -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    </body>
</html>



<ul>
    
</ul>

    